{% if kevin_instr %}
	<h2>{{ kevin_instr_title }}</h2>
	<div class="well well-sm"><p>{{ kevin_instr }}</p></div>
{% endif %}
<div id="kevin-container">
{% if (text_sandbox_alert) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ text_sandbox_alert }} 
     <!-- <button type="button" class="close" data-dismiss="alert">&times;</button>-->
    </div>
{% endif %}
{% if error_currency %} 
<div class="alert-currency"></div>  
{% endif %}
<div class="alert-bank"></div> 
{% if error_bank_missing %} 	
<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_bank_missing }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
{% endif %}	
<div class="bank-container">
	
<ul class="list-unstyled row li-grid"> 
{% for payment_method in payment_methods %}	
{% if payment_method == 'bank' %}	
{% for bank in banks %}
	<li class="col-md-2 col-sm-4 col-xs-12 ">
    <p class="bank-grid">
         <input type="image" src="{{ bank.imageUri }}" alt="{{ bank.name }}" title="{{ bank.name }}" id="bank-selected" class="payment-{{ bank.id }} bank-logo bank-grid-img img-responsive" onclick="selectPayment('{{ bank.id }}');"/>
		{% if bank_name_enable %}
		<span class="bankgrid-title title-color-{{ bank.id }}">{{ bank.name }}</span>
		{% else %}
		<span class="bankgrid-title title-color-{{ bank.id }}">&nbsp;</span>
		{% endif %}
	</p>
    </li>

<form id="kevin_form-{{ bank.id }}" action="{{ action }}&bankId={{ bank.id }}&payment_method={{ payment_method }}" enctype="multipart/form-data" method="POST">
   <input  type="hidden" name="bankId" value="{{ bank.id }}"/>
</form>
{% endfor %}
{% elseif payment_method == 'card' %}	
	<li class="col-md-2 col-sm-4 col-xs-12 ">
    <p class="card-grid">
         <input type="image" src="{{ credit_card_icon }}" alt="Credit &#47; Debit carrd" title="Credit &#47; Debit carrd" id="card-selected" class="payment-card card-logo card-grid-img img-responsive" onclick="selectPayment('card');" />
		{% if bank_name_enable %}
		<span class="cardgrid-title title-color-card">{{ text_card_name }}</span>
		{% else %}
		<span class="bankgrid-title title-color-card">&nbsp;</span>
		{% endif %}
	</p>
    </li>
	<form id="kevin_form-{{ payment_method }}" action="{{ action }}&bankId={{ payment_method }}&payment_method={{ payment_method }}" enctype="multipart/form-data" method="POST">
   <input  type="hidden" name="bankId" value="{{ payment_method }}"/>
</form>
{% endif %}
{% endfor %}
</ul>	

</div>
</div>
<div class="buttons">
    <div class="pull-right">
        <input  type="button" {# {% if currency != 'EUR' %} disabled {% endif %} #} value="{{ button_confirm }}" id="button-confirm" class="btn btn-primary"  data-loading-text="{{ text_loading }}" />
    </div>
</div>

<script type="text/javascript"><!--
	
	var windowWidth = $(window).width();
	function scrollUp() {
		if (windowWidth < 1024) {
			$('html, body').animate({
				scrollTop: $("#kevin-container").offset().top + (-50)
			}, 200);
		}
	}
		 
	$(document).ready(function(){

		$("#bank-selected, #card-selected").click(function(event) {
			event.preventDefault(); 
		});
	});

	var currency = '{{ currency ? currency : 0 }}';
	var error_currency = '{{ error_currency ? error_currency : '' }}';
	var error_bank = '{{ error_bank ? error_bank : '' }}';
	//$('#button-confirm, #quick-checkout-button-confirm').prop('disabled', true);
	function selectPayment(bankId) {
		$('.bankgrid-title, .cardgrid-title').css({'color': ''});
		$('.bank-logo, .card-logo').css({'border': ''});
		$('.payment-' + bankId).css({'border': 'solid 2px #26a5d6'});
		$('.title-color-' + bankId).css({'color': '#26a5d6'});
		$('#button-confirm').attr('data-id', bankId);
		//$('#button-confirm, #quick-checkout-button-confirm').prop('disabled', false);
		$('.alert-bank').children().eq(0).remove();
		$('#quick-checkout-button-confirm').button('reset');
		return false;
	}
	$('#button-confirm').on('click', function() {
		$('.alert-currency').children().eq(0).remove();
		$('.alert-bank').children().eq(0).remove();
		var bankId = $(this).attr('data-id');
		//alert(bankId);
		if (currency != 'EUR') {
			event.preventDefault();
			scrollUp();
			$('.alert-currency').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + error_currency + '<button type="button" class="close" data-dismiss="alert">&times;</button>');
		} else if (!bankId) {
			event.preventDefault();
			scrollUp();
			$('#quick-checkout-button-confirm').button('reset');
			$('.alert-bank').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + error_bank + '<button type="button" class="close" data-dismiss="alert">&times;</button>');
			
		} else {
			$('#kevin_form-'+bankId).submit();
		}
    });	
//--></script>

<style>	
.li-grid {
	display: flex;
	flex-wrap: wrap;
}

.bank-logo:hover {
    border: solid 2px #dddddd; 
    overflow: hidden;
    moz-box-shadow: 0px 0px 8px 2px rgba(119,119,119,0.2);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(119,119,119,0.2);
    box-shadow: 0px 0px 8px 2px rgba(119,119,119,0.2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}
	
.card-logo:hover {
    border: solid 2px #dddddd; 
    overflow: hidden;
    moz-box-shadow: 0px 0px 8px 2px rgba(119,119,119,0.2);
    -webkit-box-shadow: 0px 0px 8px 2px rgba(119,119,119,0.2);
    box-shadow: 0px 0px 8px 2px rgba(119,119,119,0.2);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.bank-grid-img, .card-grid-img {
	display:block; 
	max-width: 100%;
    height: auto;
	margin-left:auto; 
	margin-right:auto;
}
	
.bankgrid-title, .cardgrid-title {
	text-align: center;
	padding-top: 5px;
	font-size: 14px;
    margin-bottom: 15px;
    display: block;
}

input:focus{
    outline: none;
}

.bank-logo, .card-logo {
	display:block;
    margin:auto;
	max-height: 100px; 
	text-align: center; 
	border: solid 2px #dddddd; 
}
</style>
	
