{{ header }}{{ column_left }} 
<div id="content">
<ul class="breadcrumb">
	{% for breadcrumb in breadcrumbs %} 
		<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
	{% endfor %} 
  </ul>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-kevin" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
        </div>
      <h1><i class="fa fa-credit-card"></i> {{ heading_title }}</h1>
    </div>
    </div>
  <div class="container-fluid">
    {% if (error_warning) %} 
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %} 
       <div class="panel panel-default">
     <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form  action="{{ action }}" method="post" enctype="multipart/form-data" id="form-kevin" class="form-horizontal">
        <ul id="tabs" class="nav nav-tabs">
          <li class="active"><a href="#general" data-toggle="tab">{{ entry_general }}</a></li>
          <li><a href="#order_statuses" data-toggle="tab">{{ entry_order_statuses }}</a></li>
		  <li><a href="#instructions" data-toggle="tab">{{ entry_instructions }}</a></li>
        </ul>
        
        <div class="tab-content">
        <div class="tab-pane active" id="general">

          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-clientid">{{ entry_client_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_kevin_client_id" value="{{ payment_kevin_client_id }}" placeholder="{{ entry_client_id }}" id="input-clientid" class="form-control" />
              {% if (error_client_id) %} 
              <div class="text-danger">{{ error_client_id }}</div>
              {% endif %} 
            </div>
          </div>
			
		<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-secret">{{ entry_client_secret }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_kevin_client_secret" value="{{ payment_kevin_client_secret }}" placeholder="{{ entry_client_secret }}" id="input-secret" class="form-control" />
              {% if (error_client_secret) %} 
              <div class="text-danger">{{ error_client_secret }}</div>
              {% endif %} 
            </div>
          </div>
			
			<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-company">{{ entry_client_company }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_kevin_client_company" value="{{ payment_kevin_client_company }}" placeholder="{{ entry_client_company }}" id="input-company" class="form-control" />
              {% if (error_client_company) %} 
              <div class="text-danger">{{ error_client_company }}</div>
              {% endif %} 
            </div>
          </div>
			
			<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-iban"><span data-toggle="tooltip" title="{{ help_iban_format }}">{{ entry_client_iban }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_kevin_client_iban" value="{{ payment_kevin_client_iban }}" placeholder="{{ entry_client_iban }}" id="input-iban" class="form-control" />
              {% if (error_client_iban_empty) %} 
              <div class="text-danger">{{ error_client_iban_empty }}</div>
				{% elseif (error_client_iban_valid) %} 
				<div class="text-danger">{{ error_client_iban_valid }}</div>
				{% elseif error_bcmod %} 
				<div class="text-danger">{{ error_bcmod }}</div>
              {% endif %} 
            </div>
          </div>
			
			<div class="form-group">
            <label class="col-sm-2 control-label" for="input-redirect">{{ entry_redirect_preferred }}</label>
            <div class="col-sm-10">
              <select name="payment_kevin_redirect_preferred" id="input-redirect" class="form-control">
                {% if (payment_kevin_redirect_preferred) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
			
			{% for language in languages %}
          <div class="form-group required">
            <label class="col-sm-2 control-label" for="input-kevin-title{{ language.language_id }}"><span data-toggle="tooltip" title="{{ help_bank_title }}">{{ entry_kevin_title }}</span></label>
            <div class="col-sm-10">
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
				  <input type="text" name="payment_kevin_title{{ language.language_id }}" id="input-kevin-title{{ language.language_id }}" value="{% if payment_kevin_title[language.language_id] %}{{ payment_kevin_title[language.language_id] }}{% endif %}" placeholder="{{ entry_kevin_title }}" class="form-control"/>

              </div>
             {% if error_title[language.language_id] %}
              <div class="text-danger">{{ error_title[language.language_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endfor %}

			<div class="form-group form-row">
				
            <label class="col-sm-2 control-label" for="input-image">{{ entry_image }}</label>
            <div class="col-sm-2">
			      <tbody>
                  <tr>
                    <td class="text-left"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}"/></a>
                      <input type="hidden" name="payment_kevin_image" value="{{ payment_kevin_image }}" id="input-image"/></td>
                  </tr>
                  </tbody>
				
			</div>
			{#
			  {% if error_title_logo %}
              <div class="text-danger">{{ error_title_logo }}</div>
              {% endif %}
			#}	
            <label class="col-sm-2 control-label" for="input-height"><span data-toggle="tooltip" title="{{ help_height }}">{{ entry_image_height }}</span></label>
            <div class="col-sm-2">
              <input type="text" name="payment_kevin_image_height" value="{{ payment_kevin_image_height }}" placeholder="{{ entry_image_height }}" id="input-height" class="form-control" />
            </div>
				
				<label class="col-sm-2 control-label" for="input-width"><span data-toggle="tooltip" title="{{ help_width }}">{{ entry_image_width }}</span></label>
            <div class="col-sm-2">
              <input type="text" name="payment_kevin_image_width" value="{{ payment_kevin_image_width }}" placeholder="{{ entry_image_width }}" id="input-width" class="form-control" />
            </div>
				
          </div>
			
			<div class="form-group">
            <label class="col-sm-2 control-label" for="input-position"><span data-toggle="tooltip" title="{{ help_position }}">{{ entry_position }}</span></label>
            <div class="col-sm-10">
              <select name="payment_kevin_position" id="input-position" class="form-control">
                {% if payment_kevin_position == 'right' %}
                <option value="right" selected="selected">{{ text_right }}</option>
                <option value="left">{{ text_left }}</option>
                {% else %}
                <option value="right">{{ text_right }}</option>
                <option value="left" selected="selected">{{ text_left }}</option>
                {% endif %}
              </select>
            </div>
          </div>
			
			<div class="form-group">
            <label class="col-sm-2 control-label" for="input-name-enabled"><span data-toggle="tooltip" title="{{ help_bank_name_enbl }}">{{ entry_bank_name_enabled }}</span></label>
            <div class="col-sm-10">
              <select name="payment_kevin_bank_name_enabled" id="input-name-enabled" class="form-control">
                {% if (payment_kevin_bank_name_enabled) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
			
			<div class="form-group">
            <label class="col-sm-2 control-label" for="input-total"><span data-toggle="tooltip" title="{{ help_total }}">{{ entry_total }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="payment_kevin_total" value="{{ payment_kevin_total }}" placeholder="{{ entry_total }}" id="input-total" class="form-control" />
              <span class="help-block">{{ help_total }}</span>
            </div>
          </div>
			
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="payment_kevin_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %} 
                {% if (geo_zone['geo_zone_id'] == payment_kevin_geo_zone_id) %} 
                <option value="{{ geo_zone['geo_zone_id'] }}" selected="selected">{{ geo_zone['name'] }}</option>
                {% else %} 
                <option value="{{ geo_zone['geo_zone_id'] }}">{{ geo_zone['name'] }}</option>
                {% endif %} 
                {% endfor %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_kevin_status" id="input-status" class="form-control">
                {% if (payment_kevin_status) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-log"><span data-toggle="tooltip" title="{{ help_log }}">{{ entry_log }}</label>
            <div class="col-sm-10">
              <select name="payment_kevin_log" id="input-log" class="form-control">
                {% if (payment_kevin_log) %} 
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %} 
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %} 
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_kevin_sort_order" value="{{ payment_kevin_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
            </div>
          </div> 
			</div>
	
		<div class="tab-pane" id="order_statuses">	
			<div class="form-group">
			  <label class="col-sm-2 control-label" for="order-status-started">{{ entry_started_status }}</label>
			  <div class="col-sm-10">
				<select name="payment_kevin_started_status_id" class="form-control" id="order-status-started">
				  {% for order_status in order_statuses %} 
					  {% if (order_status['order_status_id'] == payment_kevin_started_status_id) %} 
						  <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
					  {% else %} 
						  <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
					  {% endif %} 
				  {% endfor %} 
				</select>
			  </div>
			</div>
   			<div class="form-group">
			  <label class="col-sm-2 control-label" for="order-completed-status">{{ entry_completed_status }}</label>
			  <div class="col-sm-10">
				<select name="payment_kevin_completed_status_id" class="form-control"  id="order-completed-status">
				  {% for order_status in order_statuses %} 
					  {% if (order_status['order_status_id'] == payment_kevin_completed_status_id) %} 
						  <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
					  {% else %} 
						  <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
					  {% endif %} 
				  {% endfor %} 
				</select>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-sm-2 control-label" for="order-pending-status">{{ entry_pending_status }}</label>
			  <div class="col-sm-10">
				<select name="payment_kevin_pending_status_id" class="form-control" id="order-pending-status">
				  {% for order_status in order_statuses %} 
					  {% if (order_status['order_status_id'] == payment_kevin_pending_status_id) %} 
						  <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
					  {% else %} 
						  <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
					  {% endif %} 
				  {% endfor %} 
				</select>
			  </div>
			</div>
			<div class="form-group">
			  <label class="col-sm-2 control-label" for="order-status-failed">{{ entry_failed_status }}</label>
			  <div class="col-sm-10">
				<select name="payment_kevin_failed_status_id" class="form-control" id="order-status-failed">
				  {% for order_status in order_statuses %} 
					  {% if (order_status['order_status_id'] == payment_kevin_failed_status_id) %} 
						  <option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
					  {% else %} 
						  <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
					  {% endif %} 
				  {% endfor %} 
				</select>
			  </div>
			</div>
			
		</div>	
			
			<div class="tab-pane" id="instructions">
			{% for language in languages %}
          <div class="form-group form-row">
			<div class="row">
            <label class="col-sm-2 control-label" for="input-kevin-ititle{{ language.language_id }}">{{ entry_instruction_title }}</label>
            <div class="col-sm-10">
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
				  <input type="text" name="payment_kevin_ititle{{ language.language_id }}" id="input-kevin-ititle{{ language.language_id }}" value="{% if payment_kevin_ititle[language.language_id] %}{{ payment_kevin_ititle[language.language_id] }}{% endif %}" placeholder="{{ entry_instruction_title }}" class="form-control"/>

              </div>
             </div>
            </div>
         
          <div class="row">
            <label class="col-sm-2 control-label" for="input-kevin-instruction{{ language.language_id }}">{{ entry_kevin_instruction }}</label>
            <div class="col-sm-10">
              <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                <textarea name="payment_kevin_instruction{{ language.language_id }}" cols="80" rows="10" placeholder="{{ entry_kevin_instruction }}" id="input-kevin-instruction{{ language.language_id }}" class="form-control">{% if payment_kevin_instruction[language.language_id] %}{{ payment_kevin_instruction[language.language_id] }}{% endif %}</textarea>
              </div>
             
            </div>
          </div>
		</div>
          {% endfor %}

         </div>
        </div>
          
        </form>
     
    </div>
  </div>
</div>
</div>
<script type="text/javascript"><!--
	$("input#input-iban").keyup(function(e) {
    $(this).val($(this).val().toUpperCase());
	
    if ($(this).val().indexOf("-") != -1) {
      $(this).val($(this).val().replace(/\-/g, ""));
    }
    $(this).val($(this).val().trim());
});

//--></script>	
<style>
.row {
	margin-left: 0px; 
   	margin-right: 0px; 
}
</style>

{{ footer }}